@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;0,900;1,100;1,200;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #4b9cd3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0;
    margin: 0; */
}

.nav-links {
    list-style: none;
    display: flex;
    /* gap: 16px; */
    gap: 2vh;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    margin: 4px;
}

.no-underline {
    text-decoration: none;
    color: #eeeeee;
}

.nav-links li a:hover {
    color: white; /* set color to full white on hover */
    font-weight: 700;
}

/* .nav-links li a:hover {
    transition: all 0.3s ease 0s;
} */

.big-name {
    background-color: #4b9cd3;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 700;
}

.sub-name {
    background-color: #4b9cd3;
    color: white;
    margin: 0;
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.round {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 0px;
}

.blurb {
    width: 40%;
    margin: 5px;
    padding: 0px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #333333;
    /* color: #eeeeee; */
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-flex li a:hover {
    color: white; /* set color to full white on hover */
    font-weight: 700;
}