.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.resize {
    width: 500px;
    height: auto;
}

code {
    /* font-family: 'Courier New', monospace; */
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    /* padding: 2px 4px; */
}

.center-text{
    text-align: center;
}